@use "../abstracts/" as *;

.forum{
    height: 100vh;
    background-image: url(./../assets/img/darkMatter1.svg);
    background-size: cover;
    background-position: center;
    animation: zoomBackground 5.5s infinite;

    .forum-container{
        display: flex;
        justify-content: center;
        padding-top: pxToRem(100);
        padding-bottom: pxToRem(60);
        @include tablet{
            padding-top: pxToRem(60);
        }

        .forum-container-text{
            @include color($color: white);
            @include size($width: pxToRem(320), $height: pxToRem(180));
            padding-top: pxToRem(250);
            div{
                margin-bottom: pxToRem(20);
            }
            .text1{
                @include font($font-family: $secondary-font, $font_size: pxToRem(20), $font-weight: false, $font-style: false, $line-height: false); 
            }
            .text2{
                @include font($font-family: $third-font, $font_size: pxToRem(44), $font-weight: false, $font-style: false, $line-height: false);  
            }
            .forum-button{
                font-size: pxToRem(46);
            }
            @include tablet{
                margin-right: -100px;
                @include size($width: pxToRem(200), $height: pxToRem(180));
                .text1{
                    font-size: 16px;
                }
                .text2{
                    font-size: 30px;
                }
            }
        }
        
        .forum-container-imgAndHeader{
            padding-top: pxToRem(90);
            .forum-content{
                @include color($color: white);
                @include font($font-family: $third-font, $font-size: pxToRem(100));
                margin-bottom: pxToRem(-25);   
                @include tablet{
                    margin-left: -90px;
                    font-size: 80px;
                }         
            }
            .forum-image{
                img{
                    @include size($width: pxToRem(470), $height: 350px);
                }
                animation: zoomImg 5.5s infinite;
                @include tablet{
                    img{
                        scale: 0.85;
                    }
                }
            }
            
        }
    }
    
}
@keyframes zoomBackground {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
  }
  
  @keyframes zoomImg {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }