@use "../abstracts/" as *;

.game {
  width: 100%;
  margin: auto;

  &-container {
    width: 80%;
    margin: auto;
    @include flex($display: flex, $direction: column, $gap: pxToRem(50));

    &__content {
      margin: auto;

      &--title {
        @include font($font-family: $primary-font, $font_size: pxToRem(36), $font-weight: 600);
        text-align: center;
      }

      &--description {
        @include font($font-family: $secondary-font, $font_size: pxToRem(26), $font-weight: 400, $font-style: italic);
        text-align: center;
      }
    }

    .swiper {
      width: 100%;
      height: 500px;

      .swiper-wrapper {
        width: 40%;
        height: 400px;
      }
    }
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  width: 40%;
  position: relative;
  bottom: 5rem;
  left: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  .slider-arrow {
    ion-icon {
      font-size: 2rem;
      color: #222224;
    }

    &::after {
      content: '';
    }
  }

  .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 1rem;

    .swiper-pagination-bullet {
      filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    }

    .swiper-pagination-bullet-active {
      background: var(--primary);
    }
  }
}