@use "../abstracts/" as *;

#section-podcasts {
  position: relative;
  .background-podcasts {
    background-image: url("../assets/img/background-podcasts.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    animation: zoomBackground 10s infinite;
  }
  .podcasts-wrap {
    @include flex($display: flex, $justify: center, $align: center);
    @include size($width: 100%,$height: 100vh);
    overflow: hidden;

    .section-podcasts__content {
      &--img {
        img{
            scale: 0.7;
        }
        position: relative;
        top: pxToRem(80);
        z-index: 2;
        animation: zoomBackground 10s infinite;
        @include tablet{
            margin-left: -100px;
            img{
                scale: 0.6;
            }
        }
      }
      &--title {
        position: absolute;
        top: pxToRem(130);
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        .sub-title {
          color: #fff;
          text-align: center;
          text-shadow: 25px 25px 50px #000;
          position: absolute;
          left: 34%;
          @include font(
            $font-family: Livvic,
            $font_size: pxToRem(24),
            $font-weight: 400
          );
        }

        .main-title {
          height: 238px;
          color: #fff;
         margin-top: pxToRem(70);
          @include font(
            $font-family: Margarine,
            $font_size: pxToRem(100),
            $font-weight: 400
          );
        }
      }
    
    }
    .button-joinnow{
        z-index: 100;
        margin-left: -120px;
        @include tablet{
            margin-left: -190px;
        }
    }
  }
}
@keyframes zoomBackground {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }
  
  @keyframes zoomImg {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }