@use "../abstracts/" as *;

@font-face {
    font-family: bungeeRegular;
    src: url(../assets/font/Bungee-Regular.ttf) format("truetype");
}
@font-face {
    font-family: interRegular;
    src: url(../assets/font/Inter-Regular.ttf) format("truetype");
}
@font-face {
    font-family: margarineRegular;
    src: url(../assets/font/Margarine-Regular.ttf) format("truetype");
}

body {
    font-family: $primary-font;
    font-weight: 400;
    font-size: pxToRem(14);
    max-width: 100%;
    margin: 0 auto;
    min-width: 320px;
}
::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: none;
}