@use "../abstracts/" as *;

.healing {
  height: 100vh;
  background-image: url("./../assets/img/backgroundhealing.png");
  background-size: cover;
  .section-healing__content {
    margin: auto;
    padding-top: 200px;
    padding-left: 100px;
    @include size($width: 80%);
    @include flex($display: flex, $align: c);

    .section-healing__content--title {
      margin-right: -100px;
      @include color($color: white);
      .main-title {
        @include font($font-family: $third-font, $font_size: pxToRem(100));
      }

      .sub-title {
        @include font($font-family: $secondary-font, $font_size: pxToRem(24));
        @include size($width: false, $height: 90px);
      }

    }

    .section-healing__content--img {
      @include size($width: pxToRem(550), $height: pxToRem(400));
      .figure-img-healing {
        
        img {
          @include size($width: pxToRem(550), $height: pxToRem(400));
        }
      }
    }

    .section-healing__content--desc {
      margin-left: -60px;
      margin-top: 70px;
      .main-desc{
        @include size($width: pxToRem(200), $height: pxToRem(150));
        @include color($color: white);
        @include font($font-family: $secondary-font, $font_size: pxToRem(18), $line-height: 1.5);
      }
      .second-desc{
        .taga-button{
          a{
            margin-left: 120px;
          }
        }
      }
    }
  }
}

// @keyframes zoomBackground {
//   0% {
//     background-position: 100% 100%;
//   }

//   100% {
//     background-position: 100% 90%;
//   }
// }

// @keyframes zoomImg {
//   0% {
//     transform: scale(1);
//   }

//   100% {
//     transform: scale(1.1);
//   }
// }