@use "../abstracts/" as *;
body {
  background-color: #FFFFFF;
}

//hieu ung background
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.signIn-container {
  @include size($width: pxToRem(430), $height: 100%);
  position: relative;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);

  &__content {
    display: block;
    z-index: 6;
    @include size($width: pxToRem(200), $height: pxToRem(200));
    @include position(
      $position: relative,
      $top: pxToRem(85),
      $bottom: false,
      $left: pxToRem(0),
      $right: false
    );

    .figure {
      @include position(
        $position: absolute,
        $top: false,
        $bottom: false,
        $left: false,
        $right: false
      );
    }
    &--bear-head {
      @include size($width: pxToRem(190), $height: pxToRem(150));
      top: pxToRem(75);
      left: pxToRem(160);
      z-index: 5;
    }

    &--hand-left-bear {
      @include size($width: pxToRem(60), $height: pxToRem(50));
      top: pxToRem(190);
      left: pxToRem(150);
      z-index: 6;
    }

    &--hand-left-bear.active {
      animation: hide-eyes-hand-left-signIN 0.7s forwards, scaleUp 0.3s forwards;
    }

    &--hand-left-bear.re-active {
      animation: re-set-animation-hide-eyes-hand-left-signIN 0.7s ease forwards,
        scaleUp 0.3s ease forwards;
    }

    &--hand-right-bear {
      @include size($width: pxToRem(60), $height: pxToRem(50));
      top: pxToRem(195);
      left: pxToRem(280);
      z-index: 6;
    }

    &--hand-right-bear.active {
      animation: hide-eyes-hand-right-signIN 0.7s forwards,
        scaleUp 0.3s forwards;
    }

    &--hand-right-bear.re-active {
      animation: re-set-animation-hide-eyes-hand-right-signIN 0.7s ease forwards,
        scaleUp 0.3s ease forwards;
    }

    &--board-bear {
      @include size($width: pxToRem(200), $height: pxToRem(200));
      top: pxToRem(30);
      left: pxToRem(50);
      z-index: 5;
    }

    &--board-bear.active {
      animation: board-signIN 0.7s forwards, scaleUp 0.3s forwards;
    }

    &--board-bear.re-active {
      animation: re-set-animation-board-signIN 0.7s ease forwards,
        scaleUp 0.3s ease forwards;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container-SignIn {
    @include size($width: pxToRem(400), $height: pxToRem(420));
    // background: rgba(255, 255, 255, 0.20);
    background-color: #124F98;
    backdrop-filter: blur(pxToRem(7.5));
    border-radius: pxToRem(30);
    position: absolute;
    top: pxToRem(300);
    left: 4%;
    z-index: 2;

    .body__form {
      @include flex($display: flex, $direction: column);

      .input {
        @include size($width: pxToRem(300), $height: pxToRem(50));
        @include font(
          $font-family: $secondary-font,
          $font_size: pxToRem(18),
          $font-weight: 400,
          $font-style: false,
          $line-height: false
        );
        padding-left: 10px;
        padding-right: 10px ;
        border-radius: pxToRem(15);
        border: transparent;
        position: relative;
        left: 50%;
        top: pxToRem(40);
        transform: translateX(-50%);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0.5) 100%
        );
        color: #fff;

        &:placeholder-shown {
          @include font(
            $font-family: $primary-font,
            $font_size: pxToRem(12),
            $font-weight: 400,
            $font-style: false,
            $line-height: false
          );
          padding-left: 20px;
        }
        &::placeholder {
          color: rgb(227, 223, 223);
        }
      }
      .inputPass_signIn {
        padding-right: 40px;
      }
      #body__form--password {
        margin-top: pxToRem(20);
      }
      span {
        @include position(
          $position: relative,
          $top: pxToRem(50),
          $bottom: false,
          $left: 50%,
          $right: false
        );
        @include font(
          $font-family: $secondary-font,
          $font_size: pxToRem(14),
          $font-weight: bold,
          $font-style: false,
          $line-height: false
        );
        @include size($width: pxToRem(300));
        transform: translateX(-42%);
        color: rgb(255, 7, 7);
        visibility: hidden;
      }
      .body__form--eyes {
        position: absolute;
        top: pxToRem(141);
        right: pxToRem(60);
        cursor: pointer;
        @include size($width: pxToRem(25), $height: pxToRem(15));
        img {
          @include size($width: 100%, $height: 100%);
          object-fit: cover;
        }
      }
    }
    .body__bottom {
      @include flex(
        $display: flex,
        $justify: center,
        $align: center,
        $gap: pxToRem(100)
      );
      margin-top: pxToRem(70);

      .body__bottom--btnSigin {
        @include size($width: pxToRem(300), $height: pxToRem(52));
        border-radius: pxToRem(25);
        background: #103667;
        border: #000;

        .btnSigin-content {
          @include font(
            $font-family: $primary-font,
            $font_size: pxToRem(20),
            $font-weight: 400,
            $font-style: false,
            $line-height: 150%
          );
          color: #fff;
          text-align: center;
        }
      }
    }
    .container-SignIn__footer {
      @include flex(
        $display: flex,
        $direction: column,
        $align: center,
        $justify: center,
        $wrap: false,
        $gap: pxToRem(20)
      );
      margin-top: pxToRem(20);
      .footer__line {
        @include size($width: pxToRem(300), $height: pxToRem(0.5));
        background-color: black;
      }
      .footer__bottom {
        @include flex(
          $display: flex,
          $direction: column,
          $align: center,
          $justify: center,
          $wrap: false,
          $gap: pxToRem(15)
        );
        &--resetPass {
          @include size($width: pxToRem(198), $height: pxToRem(52));
          border-radius: pxToRem(25);
          border: pxToRem(1) solid #988e8e;
          background: rgba(0, 0, 0, 0);

          .resetPass-content {
            @include font(
              $font-family: $primary-font,
              $font_size: pxToRem(16),
              $font-weight: 400,
              $font-style: false,
              $line-height: 150%
            );
            color: rgb(227, 223, 223);
          }
        }
        .footer__bottom--newMember {
          cursor: pointer;
          color: rgb(227, 223, 223);

          &:active {
            color: rgb(255, 145, 0);
            transform: scale(1.01);
          }
        }
      }
    }
  }
}

@keyframes hide-eyes-hand-left-signIN {
  100% {
    top: pxToRem(120);
    left: pxToRem(180);
    transform: rotate(160deg);
  }
}

@keyframes hide-eyes-hand-right-signIN {
  100% {
    top: pxToRem(120);
    left: pxToRem(280);
    transform: rotate(160deg);
  }
}

@keyframes board-signIN {
  100% {
    top: pxToRem(30);
    left: pxToRem(20);
    transform: rotate(10deg);
  }
}

@keyframes re-set-animation-hide-eyes-hand-left-signIN {
  0% {
    top: pxToRem(120);
    left: pxToRem(180);
  }

  100% {
    top: pxToRem(190);
    left: pxToRem(150);
    transform: rotate(-160deg);
  }
}

@keyframes re-set-animation-hide-eyes-hand-right-signIN {
  0% {
    top: pxToRem(120);
    left: pxToRem(280);
  }
  100% {
    top: pxToRem(195);
    left: pxToRem(280);
    transform: rotate(-160deg);
  }
}

@keyframes re-set-animation-board-signIN {
  0% {
    top: pxToRem(30);
    left: pxToRem(20);
  }
  100% {
    top: pxToRem(30);
    left: pxToRem(35);
    transform: rotate(-10deg);
  }
}
