@use "../abstracts/" as *;
@use "../base/" as *;


// css section game
.section-game{
    display: flex;
    justify-content: center;
    img{
        width: 300px;
        height: 300px;
    }
    .section-game_children:hover{
        transform: scale(1.2);
    }
}
