<!-- start header -->
<header class="header-container">
    <div class="header-container__logo--left">
        <figure class="header-container__logo--left--main">
            <img src="" alt="icon logo">
        </figure>
    </div>
    <div class="header-container__navigation">
        <ul>
            <include src="./components/navList.html" locals='{
                "list":[{"content":"Home Page"},
                {"content":"Contact Us"},
                {"content":"About Us"},
                {"content":"Login"}]
            }'>
                
            </include>
        </ul>
    </div>
    <div class="header-container__logo--right">
        <figure class="header-container__logo--right--main">
            <img src="../assets/icon/iconmenu.svg" alt="icon logo">
        </figure>
    </div>
</header>
<!-- end header -->