<div class="signIn-container">
    <!-- start sign in  -->
    <div class="container-SignIn">
        <div class="container-SignIn__heading">
            <include src="./components/boxImg.html" locals='{
                "list": [
                 {"classNameFigure": "figure container-SignIn__heading--bear-head", "classImg": "", "srcImg": "../assets/img/bear-head.png", "alts" :"bear head"},
                 {"classNameFigure": " figure container-SignIn__heading--hand-left-bear", "classImg": "", "srcImg": "../assets/img/hand-left-bear.png", "alts" :"hand-left-bea"},
                 {"classNameFigure": "figure container-SignIn__heading--hand-right-bear", "classImg": "", "srcImg": "../assets/img/hand-right-bear.png", "alts" :"hand-right-bea"},
                 {"classNameFigure": "figure container-SignIn__heading--board-bear", "classImg": "", "srcImg": "../assets/img/board-bear.png", "alts" :"board bear"}
                ]
            }'>
            </include>  
        </div>
        <div class="container-SignIn__body">
            <form class="body__form" action="">
                <input class="input" type="text" name="user-name" id="body__form--user-name" required placeholder="User name">
                <span>thông tin tài khoản không hợp lệ!!</span>
                <input class="input"  type="text" name="password" id="body__form--password" required placeholder="Password">
                <include src="./components/boxImg.html" locals='{
                    "list": [
                     {"classNameFigure": "body__form--eyes", "classImg": "", "srcImg": "../assets/icon/eyes-icon-login.svg", "alts" :"icon eyes"}
                    ]
                }'>
                </include> 
                <span>Thông tin mật khẩu không chính xác</span>
            </form>
            <div class="body__bottom">
                <include src="./components/button2.html" locals='{
                    "list": [
                     {"classNameBtn": "body__bottom--btnSigin", "classContent": "btnSigin-content", "content": "LOGIN"}
                    ]
                }'>
                </include>

        </div>
    </div>
    <div class="container-SignIn__footer">
        <div class="footer__line"></div>
        <div class="footer__bottom">
            <include src="./components/button2.html" locals='{
                "list": [
                 {"classNameBtn": "footer__bottom--resetPass", "classContent": "resetPass-content", "content": "RESET PASSWORD"}
                ]
            }'>
            </include>
            <p class="footer__bottom--newMember">SIGN UP IF YOU’RE NEW </p>
        </div>
    </div>
</div>
<!-- end sign in  -->

</div>

<div class="signUp-container">
    <!-- start sign up -->
<div class="login-container__signup">
    <!-- start header of sign up -->
    <div class="header-signup">
        <div class="header-signup__container">
            <include src="./components/boxImg.html" locals='{
                "list":[{"classNameFigure":"figure-img1","classImg":"figure-img1--head","srcImg":"../assets/img/bear-head.png", "alts":"image"},
                {"classNameFigure":"figure-img2","classImg":"figure-img2--board","srcImg":"../assets/img/Sign-up-board.png","alts":"image"},
                {"classNameFigure":"figure-img3","classImg":"figure-img3--left","srcImg":"../assets/img/hand-left-bear.png","alts":"image"},
                {"classNameFigure":"figure-img4","classImg":"figure-img4--right","srcImg":"../assets/img/hand-right-bear.png","alts":"image"}]
            }'>
                
            </include>
        </div>
    </div>
    <!-- end header of sign up -->
    <!-- start main of sign up -->
    <main class="main-signup">
        <div class="main-signup__container">
            <div class="main-signup__container--text">
                <input type="text" placeholder="username">
                <span>Tên tài khoản không hợp lệ!</span>
                <input type="text" placeholder="password">
                <span>Mật khẩu đăng ký không hợp lệ!</span>
                <input type="text" placeholder="password_confirm">
                <span>Vui lòng nhập đúng mật khẩu đăng ký!</span>
                <input type="text" placeholder="email">
                <span>Email không hợp lệ!</span>
            </div>
        </div>
    </main>
    <!-- end main of sign up -->
    <!-- start footer of sign up -->
    <footer class="footer-signup">
        <div class="footer-signup__container">
            <div class="footer-signup__container--button">
                <span><input type="checkbox"><p> I agree with terms and conditions</p></span>
                <button>Sign Up</button>
                <a href="#">I already have an account</a>
            </div>
        </div>
    </footer>
    <!-- end footer of sign up -->
</div>
<!-- end of sign up -->
</div>
