<main class="main-container">

    <div class="swiper mySwiper">
        <!-- Start Swiper -->
        <div class="swiper-wrapper"> 
            <div class="swiper-slide">
                <!-- Start section forum -->
                <section class="forum">
                    <div class="forum-container">
                        <div class="forum-container-text">
                            <div class="text1"> 
                                <span>We will be delighted if you’re willing to share</span>
                            </div>
                            <div class="text2">
                                what you’ve been through
                            </div>
                            <div class="forum-button">
                                <include src="./components/taga.html" locals='{
                                    "list":[{"content":"FORUM"}]
                                }'>
                            </div>
                        </div>
                        <div class="forum-container-imgAndHeader">
                            <div class="forum-content">
                                <span>FORUM</span>
                            </div>
                            <div class="forum-image">
                                <img src="./../assets/img/pc-forum.png" alt="">
                                <img src="./../assets/img/pic-forumcouple.png" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End forum -->
            </div>
            <!-- <div class="swiper-slide"> -->
                <!-- Start section music -->
                <!-- <section class="music">
                    <div class="music-container">
                        <div class="music-container__content--center">
                            <p class="content--head">MUSICS</p>
                            <img src="../assets/img/music.png" alt="img music">
                        </div>
                        <div class="music-container__content--right">

                        </div>
                    </div>
                </section> -->
                <!-- End music -->
            <!-- </div> -->
        </div>
        <!-- End Swiper -->
    </div>

</main>