<main class="main-container">
  <div class="swiper mySwiper">
    <!-- Start Swiper -->
    <div class="swiper-wrapper">
      <!-- start slide 5 -->
      <div class="swiper-slide">
        <!-- start section-podcasts  -->
        <section id="section-podcasts">
          <!-- start background  -->
          <div class="background-podcasts">
            <div class="container">
              <div class="podcasts-wrap">
                <!-- start section-podcasts__content  -->
                <div class="section-podcasts__content">
                  <!-- start section-podcasts__content--img  -->
                  <div class="section-podcasts__content--img">
                    <include
                      src="./components/boxImg.html"
                      locals='{
          "list" : [
           {"classNameFigure": "img-podcasts", "classNameImg": "img-podcasts--img", "srcImg": "../assets/img/section-podcasts-img.png", "alts": "img podcasts"}
          ]
      }'
                    >
                    </include>
                  </div>
                  <!-- end section-podcasts__content--img  -->
                  <!-- start section-podcasts__content--title  -->
                  <div class="section-podcasts__content--title">
                    <p class="sub-title">MOTIVATIONAL</p>
                    <p class="main-title">PODCASTS</p>
                  </div>
                  <!-- end section-podcasts__content--title  -->
                </div>
                <!-- end section-podcasts__content  -->
              </div>
            </div>
          </div>
          <!-- end background  -->
        </section>
        <!-- end section-podcasts  -->
      </div>
      <!-- end slide 5 -->
    </div>
  </div>
</main>
